@model PaginatedList<RentalKendaraan_098.Models.Kendaraan>

@{
    ViewData["Title"] = "Index";
}

<h2>Kendaraan</h2>

<p>
    <a asp-action="Create">Tambah Data Baru</a>
</p>

@using (Html.BeginForm("Index", "Kendaraans", FormMethod.Get))
{
    <p>
        Ketersediaan: @Html.DropDownList("ktsd", "Pilih Ketersediaan")
        Cari Data : @Html.TextBox("searchString")
        <input type="submit" value="filter" />
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @*Html.DisplayNameFor(model => model.NamaKendaraan)*@
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DataSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Nama Kendaraan</a>
            </th>
            <th>
                @Html.DisplayName("No Polisi")
            </th>
            <th>
                @Html.DisplayName("No STNK")
            </th>
            <th>
                @Html.DisplayName("Ketersediaan")
            </th>
            <th>
                @Html.DisplayName("Jenis Kendaraan")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NamaKendaraan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoPolisi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoStnk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ketersediaan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdJenisKendaraanNavigation.IdJenisKendaraan)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdKendaraan">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pen-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="color: dodgerblue;">
                            <path fill-rule="evenodd" d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z" />
                        </svg>
                    </a> |
                    <a asp-action="Details" asp-route-id="@item.IdKendaraan"><i class="fa fa-list fa-lg"></i></a> |

                    <a asp-action="Delete" asp-route-id="@item.IdKendaraan" onclick="return confirm('Are you sure to delete this record?')">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="color: red;">
                            <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
                        </svg>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-CurrentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous

</a>

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-PageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next

</a>